@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2 {
  margin-top: 0;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

.profile-txt {
  width: 540px;
  float: left;
}

.profile-txt span {
  font-weight: bold;
}

.profile-image {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

section {
  margin-bottom: 35px;
}

 th {
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border: 1px solid #cccccc;
}

 td {
  width: 660px;
  padding: 12px 0 12px 40px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* jsタイマー */

.time{
  text-align: center;
  margin: 30px auto;
}

#timer {
  font-size: 36px;
  border: 1px solid #ccc;
  margin: 30px auto;
  padding: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

.btn {
  width: 100%;
  font-weight: bold;
}
